{% extends 'base.html' %}

{% block content %}

<!-- Terms And Conditions -->
<section class="terms">
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>FAQ's</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="home.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQ</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="faq">
      <h6>Q1 What we are?</h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.</p>
    </div>
    <div class="faq">
      <h6>Q2 Do I need to register to post a job?</h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>
    </div>
    <div class="faq">
      <h6>Q3 I forgot my password. How do I get a new one?</h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="faq">
      <h6>Q4 Are my personal detalis safe?</h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="faq">
      <h6>Q5 How will I get notify if there is a new job update? </h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </div>
  </div>
</section>


{% endblock%}