{% extends 'base.html' %}


{% block content %}
<!-- Banner with search and text -->
<section class="banner">
  <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active data-bs-interval=" 1000"">
        <img src=" https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804_960_720.jpg" class="w-100" alt="...">
        <div class="carousel-caption d-block">
          <h1>Looking For A New Job!?</h1>
          <p>Well, Your at the right place!</p>
        </div>
      </div>
      <div class="carousel-item data-bs-interval=" 1000"">
        <img src="https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640_960_720.jpg" class="w-100" alt="...">
        <div class="carousel-caption d-block">
          <h1>Easy Steps to get a job</h1>
        </div>
      </div>
      <div class="carousel-item data-bs-interval=" 1000"">
        <img src=" https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501_960_720.jpg" class="w-100" alt="...">
        <div class="carousel-caption d-block">
          <h1>Jobs avaliable in all categories</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<form action="{% url 'searched'%}" method="get">
  <div class="search-job text-center">

    <input type="text" class="form-control" placeholder="Search By Keyword" name="searched" id="searched">
    <input type="text" class="form-control" placeholder="Search By Company" name="searched" id="searched">
    <input type="text" class="form-control" placeholder="Search By Location" name="searched" id="searched">
    <input type="submit" class="btn btn-primary" value="Find Job">

  </div>
</form>

<br>

<section id="job-catergory">
  <div class="container text-center">
    <h3>Job Catergories</h3>
    <div class="row">
      {% for job in jobs.all%}
      <div class="col-lg-3">
        <div class="row">
          <div class="col">
            <div class="stats-box" onclick="window.location='{% url 'catjobs' job.id %}';" style="cursor: pointer;">
              <a href=""></a>
              <img src="{{ job.cat_image.url}}" />
              <h4>{{ job.cat_name }}</h4>
            </div>
          </div>

        </div>
      </div>
      {% endfor%}
    </div>

  </div>
</section>
<!-- Top recruting companies  -->
<section id="companies" class="container text-center">
  <h3>Top recruting companies </h3>

  <div class="owl-carousel owl-theme">
    {% for detail in details.all%}

    <div class="item" onclick="window.location='{% url 'companydets' detail.id %}';" style="cursor: pointer;">
      <img src="{{ detail.icon.url}}" alt="">
    </div>

    {% endfor%}
  </div>
</section>

<!-- Owl Carosel jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<!-- Owl Carosel scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<!-- Owl carousel script -->
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: false,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 2
      },
      1000: {
        items: 5
      }
    }
  })
</script>

<!-- Featured Job  -->
<section id="jobs">
  <h3>Featured Jobs</h3>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="company-details">
          <div class="job-update">
            <h4><b>Python Developer<button type="button" class="btn btn-outline-info jtype">Fresher</button></b></h4>
            <p>XYZ Solution Pvt Ltd</p>
            <i class="fa fa-briefcase"></i> <span>0-1 years </span><br>
            <i class="fa fa-inr"></i> <span>3.5 - 4.0 Lacs p.a</span><br>
            <i class="fa fa-map-marker"></i> <span>Hyderbad</span>
            <p>SKILLS <i class="fa fa-angle-double-right"></i>
              <small>Java</small>
              <small>Python</small>
              <small>HTML</small>
              <small>CSS</small>
              <small>.Net</small>
            </p>
          </div>
          <div class="apply-btn">

            <button type="button" class="btn btn-primary">Apply!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="company-details">
          <div class="job-update">
            <h4><b>Seasoned Senior Python Developer <button type="button"
                  class="btn btn-outline-info jtype">Fresher</button></b></h4>
            <p>XYZ Solution Pvt Ltd</p>
            <i class="fa fa-briefcase"></i> <span>0-1 years </span><br>
            <i class="fa fa-inr"></i> <span>3.5 - 4.0 Lacs p.a</span><br>
            <i class="fa fa-map-marker"></i> <span>Hyderbad</span>
            <p>SKILLS <i class="fa fa-angle-double-right"></i>
              <small>Java</small>
              <small>Python</small>
              <small>HTML</small>
              <small>CSS</small>
              <small>.Net</small>
            </p>
          </div>
          <div class="apply-btn">
            <button type="button" class="btn btn-primary">Apply!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="all">
    <a href="bjobs.html">Browse All Jobs<i class="fa fa-arrow-right"></i></a>
  </div>
</section>


<!-- Latest Jobs (all) -->
<section id="Latest-jobs">
  <h3>Latest Jobs</h3>
  <div class="container">
    {% for det in jobhome.all %}
    <div class="companydetails" onclick="window.location='{% url 'detail' det.id %}';" style="cursor: pointer;">
      <a href=""></a>
      <div class="job-update">
        <h5>
          <b>{{ det.job_name}}<button type="button" class="btn btn-outline-info jtype">{{ det.category}} </button></b>
        </h5>
        </a>
        <p>{{ det.company}}</p>
        <i class="fa fa-briefcase"></i>
        <span>{{det.experience}} years </span>
        <i class="fa fa-inr"></i> <span>{{det.salary}} p.a</span>
        <i class="fa fa-map-marker"></i> <span>{{det.place}}</span>

      </div>
      <div class="apply-btn">
        <a href="#">
          <button type="button" class="btn btn-primary">Apply!</button></a>
      </div>

    </div>
    {% endfor %}
  </div>

  <div class="All">
    <a href="{% url 'bjobs' %}">Browse All Jobs<i class="fa fa-arrow-right"></i></a>
  </div>
</section>


<section class="testimonials">
  <h3>Testimonials</h3>
  <div class="container">
    <div class="row">
      {% for tet in testi%}
      <div class="col-md-4 text-center">
        <div class="profile">
          <img src="{{ tet.image.url}}" class="user" alt="">
          <p>
            {{tet.body}}
          </p>
          <h4>{{tet.title}} <span>{{ tet.job}}</span></h4>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
</section>

<section id="cards">
  <h3>Want To Connect With Us!??</h3>
  <h2>Follow The Steps</h2>
  <div class="container">
    <div class="row mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Step-1</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title">Login<small class="text-muted fw-light">/Sign In</small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>The first step to get started</li>
              <li>with us is to </li>
              <li>Sign Up!</li>
              <li>And fill the "Preference Form"</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Step-2</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title">Upload CV</h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Make sure that</li>
              <li>the information provided</li>
              <li>in the CV is true!</li>
              <li>and please attach the required certificates</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Step-3</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title">Choose From Prefrences!</h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>According to the information</li>
              <li>and the qualifications provided in </li>
              <li>the resume, related jobs will appear. </li>
              <li>You can alter your requests if needed!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blogs">
  <div class="container">
    <h3> Recent Blogs</h3>
    <div class="row">
      {% for post in allblog.all %}
      <div class="col-md-3">
        <div class="single-blog">
          <p class="blog-meta">By {{post.user}} <span> {{ post.pub_date}}</span></p>
          <img src="{{ post.simage.url }}" alt="">
          <h4><a href="#">{{ post.title}}</a></h4>
          <p class="blog-text">{{ post.smallbody}}</p>
          <p><a href="{% url 'allblogs' %}" class="read-more-btn">Read More</a>
            <span><i class="fa fa-thumbs-o-up"></i> 5k people liked,
              <i class="fa fa-comment-o"></i>3..
            </span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}