
{% extends 'base.html' %}

{% block content %}
    <!-- CONTACT FORM  -->
<section class="contact" id="contact">
  <h3>Contact Us </h3>
  <div class="icons-container">
    <div class="icons">
      <img src="images/icon-1.png" alt="">
        <h4>phone number</h4>
        <p>8585858585</p>
        <p>8585858585</p>
    </div>
    <div class="icons">
      <img src="images/icon-2.png" alt="">
      <h4>email address</h4>
      <p>xyz@gmail.com</p>
      <p>Quickjobs@gmail.com</p>
    </div>
    <div class="icons">
      <img src="images/icon-3.png" alt="">
      <h4>office address</h4>
      <p>Hyderabad, India </p>
    </div>
  </div>
  <div class="row">
    <form action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
        <div class="inputBox">
            <input type="text" placeholder="Name" name="name">
            <input type="number" placeholder="Phone Number" name="phone">
        </div>
        <div class="inputBox">
            <input type="email" placeholder="Email Id" name="email">
            <input type="text" placeholder="Subject" name="subject">
        </div>
        <textarea name="message" placeholder="Message" id="" cols="30" rows="10" ></textarea>
        <input type="submit" value="Send Message!" class="btn btn-info">
    </form>

  <iframe class="map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243647.31698201728!2d78.26795904304949!3d17.412299801300147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1626939578492!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

{% endblock%}