{% extends 'base.html' %} {% block content %}
<!-- blog     -->
<div class="blog container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Blog</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <div class="links nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for type in category.all %}
            <a class="p-2 link-secondary" href="#"> {{type.BlogRelated}} </a>
            {% endfor %}
        </nav>
    </div>
</div>
<main class="container">
    <div class="display p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">
                <strong>Learn How To Make A Website </strong>
            </h1>
            <p class="lead my-3">
                This blog contains all the tips and tricks required to code like a pro!
            </p>
            <p class="lead mb-0">
                <a href="#" class="text-white fw-bold" style="text-decoration: none">Continue reading...</a>
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">WORLD</strong>
                    <h3 class="mb-0">Bootstrap</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content.
                    </p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row g-0  border  rounded  overflow-hidden  flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">PROGRAM</strong>
                    <h3 class="mb-0">Full Stack Developer</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">
                        This is a wider card with supporting text below as a natural lead-in
                        to additional content.
                    </p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block"></div>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            {% for blog in allpost.all %}

            <h3 class="pb-4 mb-4 fst-italic border-bottom">{{ blog.title}}</h3>

            <article class="blog-post">
                <!-- <h2 class="blog-post-title">Tips & Tricks</h2> -->

                <p class="blog-post-meta">
                    {{blog.pub_date}} <a href="#">{{ blog.user}}</a>
                </p>
                <p>{{blog.body}}</p>
            </article>

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">
                        In this blog you will be familier with topics like what is website
                        making, trips and tricks of website making, different feature of a
                        website etc,. At the end of this blog you will have a basic
                        knowledge on how to create a website.
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2021</a></li>
                        <li><a href="#">February 2021</a></li>
                        <li><a href="#">January 2021</a></li>
                        <li><a href="#">December 2020</a></li>
                        <li><a href="#">November 2020</a></li>
                        <li><a href="#">October 2020</a></li>
                        <li><a href="#">September 2020</a></li>
                        <li><a href="#">August 2020</a></li>
                        <li><a href="#">July 2020</a></li>
                        <li><a href="#">June 2020</a></li>
                        <li><a href="#">May 2020</a></li>
                        <li><a href="#">April 2020</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
<br />

{% endblock %}